<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maybe.flow.dao.FlowDefineMapper">
  <resultMap id="BaseResultMap" type="com.maybe.flow.model.FlowDefine">
    <id column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="REV_" jdbcType="INTEGER" property="rev" />
    <result column="CATEGORY_" jdbcType="VARCHAR" property="category" />
    <result column="NAME_" jdbcType="VARCHAR" property="name" />
    <result column="KEY_" jdbcType="VARCHAR" property="key" />
    <result column="VERSION_" jdbcType="INTEGER" property="version" />
    <result column="DEPLOY_TIME_" jdbcType="TIMESTAMP" property="deployTime" />
    <result column="DEPLOYMENT_ID_" jdbcType="VARCHAR" property="deploymentId" />
    <result column="RESOURCE_NAME_" jdbcType="VARCHAR" property="resourceName" />
    <result column="DGRM_RESOURCE_NAME_" jdbcType="VARCHAR" property="dgrmResourceName" />
    <result column="DESCRIPTION_" jdbcType="VARCHAR" property="description" />
    <result column="HAS_START_FORM_KEY_" jdbcType="TINYINT" property="hasStartFormKey" />
    <result column="HAS_GRAPHICAL_NOTATION_" jdbcType="TINYINT" property="hasGraphicalNotation" />
    <result column="SUSPENSION_STATE_" jdbcType="INTEGER" property="suspensionState" />
    <result column="TENANT_ID_" jdbcType="VARCHAR" property="tenantId" />
    <result column="ENGINE_VERSION_" jdbcType="VARCHAR" property="engineVersion" />
    <result column="DERIVED_FROM_" jdbcType="VARCHAR" property="derivedFrom" />
    <result column="DERIVED_FROM_ROOT_" jdbcType="VARCHAR" property="derivedFromRoot" />
    <result column="DERIVED_VERSION_" jdbcType="INTEGER" property="derivedVersion" />
  </resultMap>

  <select id="defineListByNameAndCategory" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    arp.ID_, arp.REV_, ard.CATEGORY_, ard.NAME_, arp.KEY_, arp.VERSION_, ard.DEPLOY_TIME_, arp.DEPLOYMENT_ID_, arp.RESOURCE_NAME_, arp.DGRM_RESOURCE_NAME_,
    arp.DESCRIPTION_, arp.HAS_START_FORM_KEY_, arp.HAS_GRAPHICAL_NOTATION_, arp.SUSPENSION_STATE_, arp.TENANT_ID_,
    arp.ENGINE_VERSION_, arp.DERIVED_FROM_, arp.DERIVED_FROM_ROOT_, arp.DERIVED_VERSION_
    FROM ACT_RE_PROCDEF arp, ACT_RE_DEPLOYMENT ard
    WHERE arp.DEPLOYMENT_ID_ = ard.ID_
    <if test="name != null">
      AND ard.NAME_ LIKE #{name,jdbcType=VARCHAR}
    </if>
    <if test="category != null">
      AND ard.CATEGORY_ = #{category,jdbcType=VARCHAR}
    </if>
    ORDER BY arp.VERSION_ ASC
  </select>

  <select id="selectByDefineId" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    arp.ID_, arp.REV_, ard.CATEGORY_, ard.NAME_, arp.KEY_, arp.VERSION_, ard.DEPLOY_TIME_, arp.DEPLOYMENT_ID_, arp.RESOURCE_NAME_, arp.DGRM_RESOURCE_NAME_,
    arp.DESCRIPTION_, arp.HAS_START_FORM_KEY_, arp.HAS_GRAPHICAL_NOTATION_, arp.SUSPENSION_STATE_, arp.TENANT_ID_,
    arp.ENGINE_VERSION_, arp.DERIVED_FROM_, arp.DERIVED_FROM_ROOT_, arp.DERIVED_VERSION_
    FROM ACT_RE_PROCDEF arp, ACT_RE_DEPLOYMENT ard
    WHERE arp.DEPLOYMENT_ID_ = ard.ID_
    AND arp.ID_ = #{defineId,jdbcType=VARCHAR}
  </select>

</mapper>