<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maybe.sys.dao.SysDeptMapper">
  <resultMap id="BaseResultMap" type="com.maybe.sys.model.SysDept">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="leader_id" jdbcType="INTEGER" property="leaderId" />
    <result column="leader_name" jdbcType="VARCHAR" property="leaderName" />
    <result column="leader_username" jdbcType="VARCHAR" property="leaderUsername" />
    <result column="helper_id" jdbcType="INTEGER" property="helperId" />
    <result column="helper_name" jdbcType="VARCHAR" property="helperName" />
    <result column="helper_username" jdbcType="VARCHAR" property="helperUsername" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="operate_ip" jdbcType="VARCHAR" property="operateIp" />
    <result column="operate_id" jdbcType="INTEGER" property="operateId" />
    <result column="operate_name" jdbcType="VARCHAR" property="operateName" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, parent_id, level, leader_id, leader_name, leader_username, helper_id, helper_name,
    helper_username, seq, remark, operate_ip, operate_id, operate_name, operate_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_dept
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_dept
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.maybe.sys.model.SysDept">
    insert into sys_dept (id, name, parent_id,
      level, leader_id, leader_name,
      leader_username, helper_id, helper_name,
      helper_username, seq, remark,
      operate_ip, operate_id, operate_name,
      operate_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER},
      #{level,jdbcType=VARCHAR}, #{leaderId,jdbcType=INTEGER}, #{leaderName,jdbcType=VARCHAR},
      #{leaderUsername,jdbcType=VARCHAR}, #{helperId,jdbcType=INTEGER}, #{helperName,jdbcType=VARCHAR},
      #{helperUsername,jdbcType=VARCHAR}, #{seq,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},
      #{operateIp,jdbcType=VARCHAR}, #{operateId,jdbcType=INTEGER}, #{operateName,jdbcType=VARCHAR},
      #{operateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.maybe.sys.model.SysDept">
    insert into sys_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="leaderId != null">
        leader_id,
      </if>
      <if test="leaderName != null">
        leader_name,
      </if>
      <if test="leaderUsername != null">
        leader_username,
      </if>
      <if test="helperId != null">
        helper_id,
      </if>
      <if test="helperName != null">
        helper_name,
      </if>
      <if test="helperUsername != null">
        helper_username,
      </if>
      <if test="seq != null">
        seq,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="operateIp != null">
        operate_ip,
      </if>
      <if test="operateId != null">
        operate_id,
      </if>
      <if test="operateName != null">
        operate_name,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="leaderId != null">
        #{leaderId,jdbcType=INTEGER},
      </if>
      <if test="leaderName != null">
        #{leaderName,jdbcType=VARCHAR},
      </if>
      <if test="leaderUsername != null">
        #{leaderUsername,jdbcType=VARCHAR},
      </if>
      <if test="helperId != null">
        #{helperId,jdbcType=INTEGER},
      </if>
      <if test="helperName != null">
        #{helperName,jdbcType=VARCHAR},
      </if>
      <if test="helperUsername != null">
        #{helperUsername,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operateIp != null">
        #{operateIp,jdbcType=VARCHAR},
      </if>
      <if test="operateId != null">
        #{operateId,jdbcType=INTEGER},
      </if>
      <if test="operateName != null">
        #{operateName,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maybe.sys.model.SysDept">
    update sys_dept
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="leaderId != null">
        leader_id = #{leaderId,jdbcType=INTEGER},
      </if>
      <if test="leaderName != null">
        leader_name = #{leaderName,jdbcType=VARCHAR},
      </if>
      <if test="leaderUsername != null">
        leader_username = #{leaderUsername,jdbcType=VARCHAR},
      </if>
      <if test="helperId != null">
        helper_id = #{helperId,jdbcType=INTEGER},
      </if>
      <if test="helperName != null">
        helper_name = #{helperName,jdbcType=VARCHAR},
      </if>
      <if test="helperUsername != null">
        helper_username = #{helperUsername,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        seq = #{seq,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operateIp != null">
        operate_ip = #{operateIp,jdbcType=VARCHAR},
      </if>
      <if test="operateId != null">
        operate_id = #{operateId,jdbcType=INTEGER},
      </if>
      <if test="operateName != null">
        operate_name = #{operateName,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maybe.sys.model.SysDept">
    update sys_dept
    set name = #{name,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      level = #{level,jdbcType=VARCHAR},
      leader_id = #{leaderId,jdbcType=INTEGER},
      leader_name = #{leaderName,jdbcType=VARCHAR},
      leader_username = #{leaderUsername,jdbcType=VARCHAR},
      helper_id = #{helperId,jdbcType=INTEGER},
      helper_name = #{helperName,jdbcType=VARCHAR},
      helper_username = #{helperUsername,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      operate_ip = #{operateIp,jdbcType=VARCHAR},
      operate_id = #{operateId,jdbcType=INTEGER},
      operate_name = #{operateName,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findAll" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM sys_dept
  </select>
  <select id="findChildrenByLevel" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM sys_dept
    WHERE level LIKE #{level,jdbcType=VARCHAR} || '%'
  </select>
  <update id="batchUpdateDeptLevel" parameterType="java.util.List">
    UPDATE sys_dept
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="level = case" suffix="end,">
        <foreach collection="sysDeptList" item="item" index="index">
            when id=#{item.id,jdbcType=INTEGER} then #{item.level,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach collection="sysDeptList" item="item" index="index" separator="," open="(" close=")">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
</mapper>