<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maybe.work.dao.WorkEasyMapper">
  <resultMap id="BaseResultMap" type="com.maybe.work.model.WorkEasy">
    <id column="proc_inst_id_" jdbcType="VARCHAR" property="procInstId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="carbon" jdbcType="LONGVARCHAR" property="carbon" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="operate_ip" jdbcType="VARCHAR" property="operateIp" />
    <result column="operate_id" jdbcType="INTEGER" property="operateId" />
    <result column="operate_name" jdbcType="VARCHAR" property="operateName" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    proc_inst_id_, code, content, carbon, user_id, user_name, start_time, end_time, status, operate_ip,
    operate_id, operate_name, operate_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from work_easy
    where proc_inst_id_ = #{procInstId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from work_easy
    where proc_inst_id_ = #{procInstId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.maybe.work.model.WorkEasy">
    insert into work_easy (proc_inst_id_, code, user_id,
      user_name, start_time, end_time,
      status, operate_ip, operate_id,
      operate_name, operate_time, content,
      carbon)
    values (#{procInstId,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER},
      #{userName,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP},
      #{status,jdbcType=INTEGER}, #{operateIp,jdbcType=VARCHAR}, #{operateId,jdbcType=INTEGER},
      #{operateName,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR},
      #{carbon,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.maybe.work.model.WorkEasy">
    update work_easy
    set carbon = #{carbon,jdbcType=LONGVARCHAR}
    where proc_inst_id_ = #{procInstId,jdbcType=VARCHAR}
  </update>
</mapper>